body {
  /* display: flex;
  flex-direction: column;
  border: solid 5px plum;
  position: absolute;
  height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* transition: background 0.2s linear; */
}

body.dark {
  background-color: #000706e9;
}

* {
  box-sizing: border-box;
}
.checkbox {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  transform: scale(1.5);
  opacity: 0;
}

.label {
  width: 45px;
  height: 24px;
  background: rgb(35, 54, 70);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
}

.dark-mode {
  color: darkslategray;
}

.light-mode {
  color: blanchedalmond;
}

#main-div {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  border: solid 5px salmon;
  /* background-color: #031926; */
  color: grey;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* #main-div a.split {
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* #toggle-button {
  height: 25px;
  width: 60px;
  font-family: "Courier New", Courier, monospace;
} */

.navbar {
  font-family: "Courier New", Courier, monospace;
  height: 100px;
  width: 100%;
  border: solid 5px yellowgreen;
}

.navbar a {
  float: left;
  padding: 10px;
  color: grey;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  width: 17%;
}

.navbar a:hover {
  color: darkslategray;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  border: solid 5px yellow;
}

.pictureContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 5px fuchsia;
  overflow: scroll;


}

#image_id {
  border: solid 5px hotpink;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  margin-top: 40px;
  height: auto;
}

#title {
  color: rgba(95, 105, 39, 0.838);
}

#button {
  height: 25px;
}

#art-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: solid 5px red;
}

li {
  list-style-type: none;
}

/* .footer {
  border: solid 5px paleturquoise;
  padding: 100px;
} */
